.field__group{
	width: 100%;
	margin-bottom: 40px;
	position: relative;
	.wpcf7-form-control-wrap{
		margin: 0;
		padding: 0;
		line-height: 0;
		display: block;
	}
	.wpcf7-not-valid-tip{
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -17px;
		font-size: 12px;
		line-height: 14px;
	}
}
.form__field{
	width: 100%;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid $dark-blue;
	font-size: 14px;
	line-height: 21px;
	color: $dark-blue;
	background-color: transparent;
	padding: 0 0 4px 0;
	&:focus,
	&:hover{
		outline: none;
		box-shadow: none;
	}
}
textarea.form__field{
	height: 114px;
	resize: none;
}
.submit__group{
	width: 100%;
	margin: -5px 0 0;
}
.wpcf7 form .wpcf7-response-output{
	margin: 30px 0 0;
	border-width: 1px;
	padding: 15px 20px;
	border-top: none;
	border-right: none;
	border-left: none;
	font-size: 14px;
	text-align: center;
}