html{
	overflow: hidden;
	overflow-y: auto;
	&.show__menu{
		overflow: hidden;
		touch-action: none;
		-ms-touch-action: none;
	}
}
body{
	overflow: hidden;
	overflow-x: hidden;
	color: $dark-blue;
	&.admin-bar{
		.axm-header{
			top: 32px;
		}
	}
	&.show__menu{
		overflow: hidden;
		touch-action: none;
		-ms-touch-action: none;
	}
	&.single-vacancy{
		padding-top: 80px;
	}
}
main{
	min-height: 80vh;
}
.container{
	max-width: 1130px;
}
.axm-{
	&content__block{
		width: 100%;
		h6{
			text-transform: uppercase;
			font-weight: 700;
			color: $blue;
			margin-bottom: 10px;
		}
		h2{
			text-transform: capitalize;
			color: $dark-blue;
			margin-bottom: 50.5px;
		}
		&.white{
			h2{
				color: $white;
			}
			p{
				color: $white-opacity;
			}
		}
	}
}
@keyframes rotation {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(-160deg) scale(0.8);
	}
	100% {
		transform: rotate(-359deg) scale(1);
	}
}
@keyframes rotation_mobile {
	0% {
		transform: rotate(0deg) scale(1);
	}
	50% {
		transform: rotate(-160deg) scale(0.9);
	}
	100% {
		transform: rotate(-359deg) scale(1);
	}
}
@include media-breakpoint-down(lg) {
	.container{
		padding-left: 26px;
		padding-right: 26px;
	}
	.axm-{
		&content__block{
			h2{
				margin-bottom: 24.5px;
			}
		}
	}
}