body{
	font-family: $primary-font;
}
h1{
	font-family: $secondary-font;
	font-size: 60px;
	line-height: 75px;
}
h2{
	font-family: $secondary-font;
	font-size: 45px;
	line-height: 56px;
}
h3{
	font-family: $secondary-font;
	font-size: 38px;
	line-height: 52px;
}
h4{
	font-family: $secondary-font;
	font-size: 32px;
	line-height: 40px;
}
h5{
	font-family: $primary-font;
	font-size: 24px;
	line-height: 32px;
}
h6{
	font-family: $primary-font;
	font-size: 16px;
	line-height: 27px;
}
p{
	font-size: 16px;
	line-height: 27px;
}
hr{
	height: 1px;
	opacity: 1;
	background-color: $border-color;
}
main{
	ul{
		list-style: none;
		margin: 0;
		padding: 23px 0 0;
		li{
			font-size: 16px;
			line-height: 24px;
			font-weight: 500;
			padding: 0 0 0 19px;
			margin-bottom: 13px;
			position: relative;
			&::before{
				content: '';
				width: 7.5px;
				height: 7.5px;
				display: block;
				border-radius: 50%;
				background-color: $blue;
				left: 0;
				top: 8px;
				position: absolute;
			}
			a{
				text-decoration: none;
				color: $dark-blue;
				transition: all 0.2s ease;
				&:hover{
					color: $blue;
				}
			}
		}
	}
	a{
		color: $dark-blue;
		transition: all 0.2s ease;
		&:hover{
			color: $blue;
		}
	}
}
.btn{
	display: inline-block;
	font-family: $secondary-font;
	font-size: 16px;
	line-height: 22.5px;
	text-transform: uppercase;
	padding: 10.5px 58px 10px;
	border: none;
	border-radius: 27.5px;
	transition: all 0.2s ease;
	&__primary{
		background-color: $blue;
		color: $white;
		&:hover{
			background-color: $button-hover;
			color: $white;
		}
	}
	&.full{
		width: 100%;
		padding: 10.5px 15px 10px;
	}
	&:focus{
		outline: none;
		box-shadow: none;
	}
}
@include media-breakpoint-down(lg) {
	h1{
		font-size: 30px;
		line-height: 37.5px;
	}
	h2{
		font-size: 24px;
		line-height: 30px;
	}
	h5{
		font-size: 18px;
		line-height: 24px;
	}
	h6{
		font-size: 16px;
		line-height: 23px;
	}
	p{
		font-size: 14px;
		line-height: 22.5px;
	}
	main{
		ul{
			padding: 15px 0 0;
			li{
				font-size: 14px;
				line-height: 22.5px;
				&::before{
					top: 7px;
				}
			}
		}
	}
	.btn{
		font-size: 14px;
	}
}