$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Krona One', sans-serif;

$white: #fff;
$white-opacity: rgba(255,255,255,0.8);
$blue: #22C0F1;
$dark-blue: #003B5C;

$blue-background: #EDFAFF;
$dark-blue-background: #061145;
$footer-background: #00284E;
$border-color: #E7EDF0;

$button-hover: #009BCB;