.axm-{
	&about__section{
		position: relative;
		padding: 110px 0 110px;
		.image{
			width: 100%;
			// animation: rotation 40s infinite linear;
			img{
				width: 100%;
				height: auto;
			}
		}
		.axm-content__block{
			padding: 100px 0 0;
		}
	}
}
@include media-breakpoint-down(lg) {
	.axm-about__section{
		padding: 50px 0;
		.axm-content__block{
			padding: 0;
			.image{
				margin: 0 0 30px 0;
				// animation: rotation_mobile 10s infinite linear;
			}
		}
	}
}