.axm-{
	&contacts{
		&__section{
			background-color: $blue-background;
			padding: 80px 0 60px;
			.axm-content__block {
				h2{
					margin-bottom: 28px;
				}
				ul{
					padding: 0;
				}
			}
		}
		&__form{
			width: 100%;
			h2{
				margin-bottom: 29px;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.axm-contacts__{
		&section{
			padding: 50px 0 30px;
			.axm-content__block{
				margin-bottom: 30px;
				ul{
					margin-top: 20px;
				}
			}
		}
		&form{
			h2{
				margin-bottom: 55px;
			}
		}
	}
}