.axm-{
	&footer{
		width: 100%;
		background-color: $dark-blue-background;
		padding: 33px 0 41px;
		&__logo{
			display: block;
			margin: 5px 0 0;
		}
		&__text{
			p{
				color: $white;
				opacity: 0.5;
				font-size: 14px;
				line-height: 21px;
				margin-bottom: 0;
			}
			a{
				font-size: 14px;
				line-height: 20px;
				color: $white;
				text-decoration: none;
				transition: all 0.2s ease;
				&:hover{
					color: $blue;
					text-decoration: underline;
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.axm-footer{
		padding: 35px 0 41px;
		&__logo{
			text-align: center;
			margin: 5px 0 37px;
		}
		&__text{
			text-align: center;
			margin-bottom: 22px;
			&.email{
				margin-top: 7px;
			}
		}
	}
}