.axm-{
	&header{
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 25px 0;
		z-index: 100;
		&.show__menu{
			position: fixed;
		}
		&.dark{
			background-color: $dark-blue-background;
		}
	}
	&main__{
		&menu{

		}
		&nav{
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				li{
					margin: 0 0 0 41px;
					a{
						font-weight: 500;
						font-size: 14px;
						line-height: 22.5px;
						text-decoration: none;
						color: $white;
						position: relative;
						&::before{
							content: '';
							display: block;
							background-color: $blue;
							width: 0;
							height: 2px;
							position: absolute;
							top: 50%;
							left: -20.5px;
							transition: all 0.2s ease;
						}
						&.active,
						&:hover{
							&::before{
								width: 15px;
							}
						}
					}
				}
			}
		}
	}
	&show__menu{
		width: 32px;
		height: 27px;
		position: relative;
		span{
			width: 100%;
			height: 3px;
			display: block;
			background-color: $white;
			position: absolute;
			left: 0;
			transition: all 0.2s ease;
			&:nth-child(1){
				top: 4px;
			}
			&:nth-child(2){
				top: 12px;
			}
			&:nth-child(3){
				top: 20px;
			}
		}
		&.show__menu{
			span{
				&:nth-child(1){
					top: 12px;
					-webkit-transform: rotate(135deg);
							transform: rotate(135deg);
				}
				&:nth-child(2){
					width: 0;
				}
				&:nth-child(3){
					top: 12px;
					-webkit-transform: rotate(-135deg);
							transform: rotate(-135deg);
				}
			}
		}
	}
	&mobile{
		&__menu{
			position: fixed;
			top: 20%;
			left: 0;
			width: 100%;
			height: 100vh;
			background-color: $dark-blue-background;
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			padding: 168px 25px 0;
			transition: all 0.2s ease;
			&.show__menu{
				top: 0;
				opacity: 1;
				visibility: visible;
			}
		}
		&__nav{
			width: 100%;
			ul{
				width: 100%;
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					width: 100%;
					a{
						width: 100%;
						display: block;
						font-size: 24px;
						line-height: 50px;
						color: $white;
						opacity: 0.5;
						position: relative;
						text-decoration: none;
						padding-left: 39px;
						transition: all 0.2s ease;
						&.active,
						&:hover{
							opacity: 1;
							&::before{
								width: 30px;
							}
						}
						&::before{
							content: '';
							width: 0;
							height: 4px;
							display: block;
							position: absolute;
							left: 0;
							top: 24px;
							background-color: $blue;
							transition: all 0.2s ease;
						}
					}
				}
			}
		}
		&__text{
			width: 100%;
			margin: 30px 0 0;
			padding: 0 39px;
			p,a{
				font-size: 14px;
				line-height: 20px;
				color: $white;
				opacity: 0.5;
				margin-bottom: 0
			}
			a{
				opacity: 1;
				text-decoration: none;
				&:hover{
					color: $blue;
				}
			}
			&.address{
				margin: 113px 0 0;

			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.axm-{
		&header{
			padding: 25px 0;
		}
		&show__menu{
			
		}
	}
}