.axm-{
	&hero__{
		&section{
			width: 100%;
			overflow: hidden;
			position: relative;
		}
		&background{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-position: center;
			background-size: cover;
			z-index: -1;
			transition: all 0.3s linear;
			// animation: 30s linear 0s infinite normal background_scale;
		}
		&wrapper{
			width: 100%;
			height: 100vh;
			position: relative;
		}
		&content{
			width: 100%;
			position: absolute;
			color: $white;
			top: 44%;
			transform: translateY(-50%);
			h1{
				margin-bottom: 0;
				text-transform: capitalize;
			}
		}
		&scroll{
			position: absolute;
			bottom: -115px;
			left: 50%;
			transform: translateX(-50%);
			cursor: pointer;
			&::before{
				content: '';
				width: 2px;
				height: 55px;
				display: block;
				position: absolute;
				pointer-events: none;
				left: 50%;
				top: -61px;
				margin: 0 0 0 -1px;
				background-color: $blue;
				transition: all 0.3s ease;
			}
			span{
				font-size: 12px;
				line-height: 23px;
				color: $white;
			}
			&:hover{
				&::before{
					top: 33px;
				}
			}
		}
	}
}
@keyframes background_scale { 
	0%{ 
		transform: scale(1);
	} 
	50%{ 
		transform: scale(1.5);
	}
	100%{
		transform: scale(1);
	} 
}
@include media-breakpoint-down(lg) {
	.axm-hero__{
		&content{
			top: 49%;
		}
		// &scroll{
		// 	bottom: 40px;
		// }
		&background{
			// animation: 15s linear 0s infinite normal background_scale;
		}
	}
}