.axm-{
	&industries{
		&__section{
			padding: 195px 0 180px;
			.axm-content__block{
				h6{
					margin-bottom: 15px;
				}
				p{
					padding: 0 50px;
				}
			}
		}
		&__icon{
			width: 100%;
			padding: 0 35px;
			.icon{
				width: 100%;
				height: 107px;
				position: relative;
				margin: 0 0 5px 0;
				img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			h6{
				line-height: 19.5px;
			}
			&s{
				width: 100%;
				padding: 47px 40px 0;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.axm-industries__{
		&section{
			padding: 50px 0 60px;
			.axm-content__block.text-center{
				text-align: left!important;
				p{
					padding: 0;
				}
			}
		}
		&icon{
			margin-bottom: 40px;
			&s{
				padding: 20px 30px 0;
			}
		}
	}
}