.axm-services__section{
	background-color: $dark-blue-background;
	padding: 127px 0 122px;
	position: relative;
	overflow: hidden;
	.axm-content__block{
		h2{
			margin-bottom: 60px;
		}
		p{
			padding-right: 10px;
		}
	}
	.image{
		width: 65%;
		position: absolute;
		top: 0;
		bottom: 0;
		right: -10%;
		// animation: rotation 120s infinite linear;
		img{
			width: 100%;
			height: auto;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}
@include media-breakpoint-down(lg) {
	.axm-services__section{
		padding: 50px 0 40px;
		.image{
			position: relative;
			width: 150%;
			height: 322px;
			right: auto;
			left: 0;
			top: 0;
			bottom: 0;
			margin: -30px 0 0;
			z-index: -1;
			// animation: rotation_mobile 20s infinite linear;
			img{
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		.axm-content__block {
			h2{
				margin-bottom: 30px;
			}
			p{
				padding-right: 0;
			}
		}
	}
}