.axm-{
	&single__{
		&title{
			margin-bottom: 45px;
		}
		&description{
			margin: 8px 0 45px;
		}
		&header{
			margin: 0 0 49px;
			hr{

			}
		}
		&content{
			padding: 56px 0	91px;
		}
		&column{
			margin-bottom: 45px;
		}
		&offer{
			&__row{
				margin: 45px 0 0;
				padding: 34px 51px 33.5px;
				background-color: $blue-background;
				h5{
					margin: 5px 0 0;
					text-transform: uppercase;
				}
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.axm-single__{
		&header{
			margin: 0 0 30px 0;
		}
		&content{
			padding: 50px 0 70px;
		}
		&title{
			margin-bottom: 30px;
		}
		&description{
			margin: 0 0 30px;
		}
		&offer__row{
			margin: 10px 0 0;
			padding: 23px 25px;
			h5{
				margin: 0 0 10px 0;
			}
		}
	}
}